<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my plants | home</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>my collection of plants</h1>
    <nav class="nav">
      <a href="/myplants/new">plant some seeds</a>
    </nav>
    <div class="container">
      <div class="myplants">
      <% for(let i = 0; i < plants.length; i++){ %>
        <div class="oneplant">
          <div class="plantsimg">
            <a href="/myplants/<%=plants[i].id%>">
                <img src="<%=plants[i].img%>">
            </a>
          </div>
          <div class="plantname">
            <%=plants[i].name%>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
