<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my plants | home</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <h1>my plants.</h1>
      <nav>
        <a href="#">add plant.</a>
      </nav>
      <div class="myplants">
        <div class="plantimg">

        </div>

        <div class="plantname">
        </div>
      </div>
    </div>
  </body>
</html>
