<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my plants | home</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <h1>my plants</h1>
      <nav>
        <a href="/myplants/new">add plant</a>
      </nav>
      <div class="myplants">
      <% for(let i = 0; i < plants.length; i++){ %>
        <div class="oneplant">
          <div class="plantsimg">
            <a href="/myplants/<%=plants[i].id%>">
                <img src="<%=plants[i].img%>">
            </a>
          </div>
          <div class="plantname">
            <%=plants[i].name%>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
