<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my plants | add</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <h1>add new plant</h1>
      <form action="/myplants" method="POST">
          name<br/> <input type="text" name="name" /><br/>
          image (URL)<br/> <input type="text" name="img" /><br/>
          day(s) of the week you water them <br/> <input type="text" name="days" /><br/>
          description<br/> <textarea type="text" name="description"></textarea><br/>
          month/year you planted them<br/> <input type="text" name="date" /><br/>
          <input type="submit" value="save updates" />
      </form>
    </div>
  </body>
</html>
