<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my plants | add</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <h1>add new plant.</h1>
      <form>

      </form>
    </div>
  </body>
</html>
