<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my plants | new</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>add new plant</h1>
    <div class="container">
      <form action="/myplants" method="POST">
          name<br/> <input type="text" name="name" /><br/>
          image (URL)<br/> <input type="text" name="img" /><br/>
          day(s) of the week you water them <br/> <input type="text" name="days" /><br/>
          description<br/> <textarea type="text" name="description"></textarea><br/>
          month/year you planted them<br/> <input type="text" name="date" /><br/>
          <input type="submit" value="save updates" />
      </form>
    </div>
  </body>
</html>
