
/* main css  */

body {
  background-color: #eaf0ec;
}
h1 {
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
}

nav {
  font-family: 'Nixie One', cursive;
  font-size: 25px;
  padding: 5px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.plantsimg img {
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  font-family: 'Nixie One', cursive;
}

.myplants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-weight: 900;
  font-size: 25px;
}

.oneplant {
  border: 1px solid #4a6349;
  padding: 10px;
  margin: 5px;
}

.oneplant:hover {
  background-color: #9cb0a3;
  color: white;
}

.plantname {
  padding: 5px;
  margin-left: 30px;
}

/* show page css  */

.oneplantshow {
  display: flex;
  flex-direction: row;
  border: 1px solid #4a6349;
}

.oneplantimg {
  margin: 5px;
  padding: 5px;
}

.oneplantimg img {
  width: 475px;
}

.oneplantinfo {
  flex-direction: column;
  font-family: 'Nixie One', cursive;
  margin: 10px;
  padding: 10px;
}

.oneplantdays {
  margin: 10px;
}

.oneplantdescription {
  margin: 10px;
}

.oneplantdate {
  margin: 10px;
}

.delete {
  margin: 5px;
  padding: 5px;
}

/* new and add pages */

textarea {
  height: 150px;
  width: 300px;
  max-width: 350px;
  max-height: 250px;
  margin: 20px;
}

input[name="name"], input[name="img"], input[name="days"], input[name="date"] {
  margin: 20px;
  width: 200px;
}
